<?xml version="1.0" encoding="UTF-8"?>
<suite name="nopCommerce Regression Suite">
<parameter name="browser" value="chrome-headless"></parameter>
<test name="regression Test">
    <classes><!--DE 3dd el test classes el htkon 3ndy-->
      <class name="tests.UserRegistrationTest"/>
    </classes>
  </test> 
</suite> 
